<div class="d-flex justify-content-between align-items-center mb-3 py-2">
  <h3 class="text-black">Task List</h3>
  

  <input type="text" class="form-control" placeholder="Search by Title or Status" 
         style="max-width: 250px;" [(ngModel)]="searchQuery" (keyup)="applyFilters()">
</div>



  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr style="color: white; border-bottom: 1px solid #10e68d;">
          <th scope="col">#</th>
          <th scope="col">Task Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Due Date</th>
          <th scope="col">Action</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of filteredItems | paginate: { itemsPerPage: 10, currentPage: p }; let i = index"
            style="color: white; border-bottom: 1px solid #10e68d; background-color: #000 !important;">
          <td>{{task.id}}</td>
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          <td>{{task.status}}</td> 
          <td>{{task.date}}</td>
          <td>
            <!-- Action Buttons -->
            <button class="btn"  style=" color: black;"  [routerLink]="'/edit'"><i class="fas fa-pencil fa-fw"></i> Edit</button>
            <button class="btn"  (click)="deleteItem(task.id)" style=" color: black;"><i class="fas fa-trash"></i> Delete</button>
            <button class="btn" (click)="downloadExcel(task)" style=" color: black;" ><i class="fa fa-download" aria-hidden="true"></i> Download
            </button>
            
          </td>
        </tr>
      </tbody>
      
    </table>

    <!-- Pagination -->
    <div style="display: flex; justify-content: center; margin-top: 20px;">
      <pagination-controls (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
    </div>
  </div>

